.input {
  background: linear-gradient(91.22deg, #bebebe 5.8%, #acacac 98.83%);
  box-shadow: 0px 0px 37px #000000, inset 6px 6px 7px rgba(255, 255, 255, 0.74),
    inset -6px -6px 7px rgba(0, 0, 0, 0.39);
  border: none;
  -moz-appearance: textfield;
}

.button {
  background: linear-gradient(
    137.77deg,
    rgba(38, 35, 116, 0.5) 14.68%,
    rgba(128, 125, 220, 0.5) 86.56%
  );
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.38),
    inset -6px -7px 10px rgba(0, 0, 0, 0.56),
    inset 4px 5px 8px rgba(255, 255, 255, 0.25);
}

.input[data-error='true'] {
  border: 2px solid red;
}

.input[data-error='false'] {
  border: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus {
  background: linear-gradient(91.22deg, #bebebe 5.8%, #acacac 98.83%);
  box-shadow: 0px 0px 37px #000000, inset 6px 6px 7px rgba(255, 255, 255, 0.74),
    inset -6px -6px 7px rgba(0, 0, 0, 0.39);
  border-radius: 20px;
  -moz-appearance: textfield;
  outline: none;
}

.cardBox {
  clip-path: polygon(83% 0%, 100% 50%, 83% 100%, 0% 100%, 0 54%, 0% 0%);
  height: 101%;
}

.predictionBox {
  background: linear-gradient(
    131.87deg,
    #131328 7.8%,
    rgba(59, 57, 107, 0) 100.22%
  );
}

.scroll[data-loading='true'] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    137.77deg,
    rgba(38, 35, 116, 0.5) 14.68%,
    rgba(49, 47, 97, 0.973) 86.56%
  );
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.38),
    inset -6px -7px 10px rgba(0, 0, 0, 0.56),
    inset 4px 5px 8px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll::-webkit-scrollbar-track-piece {
  background-color: #555;
  border-radius: 30px;
  margin-block: 1rem;
}
/* 
.scroll_predictions::-webkit-scrollbar {
  width: 10px;
}

.scroll_predictions::-webkit-scrollbar-track {
  background: #1c1b37;
}

.scroll_predictions::-webkit-scrollbar-thumb {
  background: linear-gradient(
    137.77deg,
    rgba(38, 35, 116, 0.5) 14.68%,
    rgba(49, 47, 97, 0.973) 86.56%
  );
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.38),
    inset -6px -7px 10px rgba(0, 0, 0, 0.56),
    inset 4px 5px 8px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.scroll_predictions::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

@media (max-width: 1000px) {
  @media (min-height: 1500px) {
    .text1 {
      font-size: 8rem;
    }
    .text2 {
      font-size: 2.2rem;
      line-height: 2.5rem;
      margin-block: 3.8vh;
    }
    .start {
      min-height: 80px;
      min-width: 400px;
      font-size: 2rem;
    }
    .header {
      min-height: 10vh;
    }
    .connect {
      min-height: 75px;
      min-width: 300px;
      font-size: 2rem;
    }
  }
}
